<html>
<head>
        
</head>
<body>
    <H1 style="color:blue;font-family:verdana;">Welcome to mobile store</H1>
    <br>
    <form>
    <label>Username</label>
    <input type="text" [(ngModel)]="uname" placeholder="Enter the username" [ngModelOptions]="{standalone:true}" id="uname" class="form-control">

    <br>
    <label>Password</label>
    <input type="text" [(ngModel)]="password" placeholder="Enter the password" [ngModelOptions]="{standalone:true}" id="password" class="form-control">
    <br>
    <input type="button" (click)="loginveri()" value="Login" class="btn btn-info">
    <input type="button" value="New Register " (click)="gotopage()" class="btn btn-warning">

    </form>
    <h2>{{validated}}</h2>
</body>
</html>