<html>
    <h1>Here are the mobiles available to buy</h1>
    <body>
        <div class="text-center">
        <h3>{{mobilename1}}</h3>
        <img src={{mobileimg1}} alt="Mobile model 1" class="rounded" width="600" height="400">
        <p> 4 GB RAM | 64 GB ROM | Expandable Upto 1 TB
            •	17.04 cm (6.71 inch) HD+ Display
            •	50MP Rear Camera | 5MP Front Camera
            •	5000 mAh Battery
            •	Mediatek Helio G85 Processsor
            </p>
        <input type="button" value="Buy" (click)="gotobilling('Realme c55','11000')" class="btn btn-success">
        </div>

        <br>
        <hr>
        <br>

        <div class="text-center">
        <h3>{{mobilename2}}</h3>
        <img src={{mobileimg2}} alt="Mobile model 2" class="rounded" width="600" height="400">
        <p>	8 GB RAM | 256 GB ROM | Expandable Upto 2 TB
            	17.02 cm (6.7 inch) Full HD+ AMOLED Display
            	108MP + 2MP Depth Lens + AI lens | 16MP Front Camera
            	5000 mAh Lithium Ion Polymer Battery
            	Mediatek Helio G99 Processor
            </p>
        <input type="button" value="Buy" (click)="gotobilling('Infinix note 12 pro','20000')" class="btn btn-success">
        </div>

        <br>
        <hr>
        <br>

        <div class="text-center">
        <h3>{{mobilename3}}</h3>
        <img src={{mobileimg3}} alt="Mobile model 3" class="rounded" width="600" height="400">
        <p>•	Camera: Sensor: 50MP Main Camera with Sony IMX890 (OIS supported), 8MP Ultrawide Camera (FOV: 120 degree) and Macro Lens; 16MP Front (Selfie) Camera with EIS support
            •	Camera Modes: Nightscape, Ultra HDR, Smart Scene Recognition, Portrait Mode, Pro Mode, Panorama, Tilt-Shift mode, Long Exposure, Dual-View Video, Retouch, Movie Mode, Raw file, Filters, Super Stable, Video Nightscape, Video HDR, Video Portrait, Focus Tracking, Timelapse, Macro mode
            •	Display: 6.7 Inches; 120 Hz Super Fluid AMOLED; Resolution: 2772 X 1240 pixels ,450 ppi, 20.1:9, 10-bit Color Depth, HDR10+
            •	Operating System: OxygenOS based on Android 13
            •	Processor: Snapdragon 8+ Gen 1 Mobile Platform
            •	16GB LPDDR5X RAM, 256GB UFS3.1 STORAGE
            •	Battery & Charging: 5000 mAh with 100W SUPERVOOC
            •	In-Display Fingerprint Sensor
            </p>
        <input type="button" value="Buy" (click)="gotobilling('Oneplus 11 R 5g','21000')" class="btn btn-success">
        </div>

        <br>
        <hr>
        <br>

        <div class="text-center">
        <h3>{{mobilename4}}</h3>
        <img src={{mobileimg4}} alt="Mobile model4" class="rounded" width="600" height="400">
        <p>•	6 GB RAM | 128 GB ROM
            •	16.94 cm (6.67 inch) Full HD Display
            •	50MP + 8MP + 2MP | 16MP Front Camera
            •	5000 mAh Lithium Polymer Battery
            •	Mediatek Dimensity 1080 Processor
            </p>
        <input type="button" value="Buy" (click)="gotobilling('Redmi note 12 pro','32000')" class="btn btn-success">
        </div>

        <br>
        <hr>
        <br>

        <div class="text-center">
        <h3>{{mobilename5}}</h3>
        <img src={{mobileimg5}} alt="Mobile model 5" class="rounded" width="600" height="400">
        <p>•	4 GB RAM | 64 GB ROM
            •	16.51 cm (6.5 inch) Display
            •	12MP + 8MP + 2MP + 2MP | 8MP Front Camera
            •	5000 mAh Battery
            •	Qualcomm Snapdragon 665 Processor
            </p>
        <input type="button" value="Buy" (click)="gotobilling('Oppo a5 2020','33000')" class="btn btn-success">
        </div>

        <br>
        <hr>
        <br>
        
        <div class="text-center">
        <h3>{{mobilename6}}</h3>
        <img src={{mobileimg6}} alt="Mobile model6" class="rounded" width="600" height="400">
        <p>•	128 GB ROM
            •	15.49 cm (6.1 inch) Super Retina XDR Display
            •	48MP + 12MP + 12MP | 12MP Front Camera
            •	A16 Bionic Chip, 6 Core Processor Processor
            </p>
        <input type="button" value="Buy" (click)="gotobilling('Iphone 14 pro max','60000')" class="btn btn-success">
        </div>

        <br>
        <hr>
        <br>

        <div class="text-center">
        <h3>{{mobilename7}}</h3>
        <img src={{mobileimg7}} alt="Mobile model 7" class="rounded" width="600" height="400">
        <p>•	8 GB RAM | 256 GB ROM | Expandable Upto 1 TB
            •	16.94 cm (6.67 inch) Full HD+ Display
            •	48MP + 8MP + 2MP | 13MP Front Camera
            •	5000 mAh Battery
            •	Qualcomm Snapdragon 695 Processor
            </p>
        <input type="button" value="Buy" (click)="gotobilling('Poco x5 5g','45000')" class="btn btn-success">
        </div>

        <br>
        <hr>
        <br>

        <div class="text-center">
        <h3>{{mobilename8}}</h3>
        <img src={{mobileimg8}} alt="Mobile model 8" class="rounded" width="600" height="400">
        <p>•	12 GB RAM | 256 GB ROM
            •	17.27 cm (6.8 inch) Quad HD+ Display
            •	200MP + 10MP + 12MP + 10MP | 12MP Front Camera
            •	5000 mAh Lithium Ion Battery
            •	Qualcomm Snapdragon 8 Gen 2 Processor
            </p>
        <input type="button" value="Buy" (click)="gotobilling('Redmi s23 Ultra','30000')" class="btn btn-success">
        </div>

        <br>
        <hr>
        <br>

        <div class="text-center">
        <h3>{{mobilename9}}</h3>
        <img src={{mobileimg9}} alt="Mobile model9" class="rounded" width="600" height="400">
        <p>•	6 GB RAM | 128 GB ROM
            •	16.94 cm (6.67 inch) Display
            •	108MP Rear Camera
            •	5000 mAh Battery
            </p>
        <input type="button" value="Buy" (click)="gotobilling('Redmi note 11 pro','27000')" class="btn btn-success">
        </div>

        <br>
        <hr>
        <br>

        <div class="text-center">
        <h3>{{mobilename10}}</h3>
        <img src={{mobileimg10}} alt="Mobile model10" class="rounded" width="600" height="400">
        <p>•	6GB RAM | 128 GB ROM | Expandable Upto 1 TB
            •	17.07 cm (6.72 inch) Full HD+ Display
            •	108MP + 2MP | 16MP Front Camera
            •	5000 mAh Battery
            •	Qualcomm Snapdragon 695 5G Processor
            </p>
        <input type="button" value="Buy" (click)="gotobilling('Realme 10 pro 5g','16000')" class="btn btn-success">
        </div>

        <br>
        <hr>
        <br>

        <div class="text-center">
        <h3>{{mobilename11}}</h3>
        <img src={{mobileimg11}} alt="Mobile model11" class="rounded" width="600" height="400">
        <p>•	12 GB RAM | 256 GB ROM
            •	17.22 cm (6.78 inch) Full HD+ Display
            •	50MP (OIS) + 8MP + 2MP | 50MP Front Camera
            •	4600 mAh Battery
            •	Mediatek Dimensity 8200 Processor
            </p>
        <input type="button" value="Buy" (click)="gotobilling('Vivo v27 pro','32000')" class="btn btn-success">
        </div>

        <br>
        <br>
        <h3><input type="button" value="Logout" (click)="gotologin()" class="btn btn-danger"></h3>
    </body>
</html>